#navigation {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  background: #0074D9;
  width: 100%;
  z-index: 100;
}

#navigation button{
  color: white;
  font-weight: bold;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
}

#spacer{
  margin-bottom: 50px;
}
